* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #171C14;
  color: #FFFFF6;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
}
